:host {
    position: relative;
    width: 91%;
    height: 11%;
    border-radius: var(--border-radius-input);
    font-size: 1.1rem;
    border-width: 2.6px;
    color: black;
    margin: 2vh;

    #input-div{
        height: 100%;
        width: 100%;
        text-align: center;
    }

    input {
        position: relative;
        width: 89%;
        height: 94%;
        border-radius: var(--border-radius-input);
        font-size: 1.1rem;
        border-width: 2.6px;
        color: black;
        padding: 0px 11px;
    }
    input::placeholder {
        color: gray;
        font-weight: 700;
    }
    input.ng-invalid.ng-touched, input.ng-invalid.ng-dirty {
        border-color: red;
    }

    img {
        position: absolute;
        right: 0;
        height: 100%;
    }

    #error-div {
        color: red;
        height: 36%;
        overflow: hidden;
        font-size: 0.94rem;
        padding-top: 1.9px;
        font-style: italic;
    }
}