* {
    --border-radius: 30px;
    user-select: none;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

h1,h2,h3,h4 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}