:host {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    top: 0;
    position: sticky;

    
}

#center-area {
    background-color: rgb(245, 245, 245);
    height: 72%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vw;
    width: 90vw;

    #genres {
        background-color: antiquewhite;
        // height: 26%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}