:host {
    // display: block;
    // position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.blurry-background {
    background-image: url('../../../assets/welcom-bg-pc.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: brightness(80%) contrast(96%) saturate(120%) sepia(7%) blur(1px);
}

#center-text {
    color: aliceblue;
    height: 80%;
    width: 70%;
    position: fixed;
    text-align: center;

    h1 {
        font-size: 4rem;
    }
    
}


@media only screen and (max-width: 767px) {
    .blurry-background {
        background-image: url('../../../assets/welcome-bg.jpg');
    }
}
