<div class="blurry-background"></div>
<div id="center-text" class="center">
    <h1>{{openingPage.headline}}</h1>
    <h2>{{openingPage.subHeadline}}</h2>
    <h3>{{openingPage.explanation}}</h3>

    <div id="user-interaction">
        <button class="user-button" (click)="onChoose($event, 'signUp')" (animationend)="stopDancing($event)">{{openingPage.signUpText}}</button>
        <p id="account">already have an account?</p>
        <button class="user-button" (click)="onChoose($event, 'login')" (animationend)="stopDancing($event)">{{openingPage.logInText}}</button>
    </div>
</div>